---
---

<div class="logomark">
	<img src="./logo.png" alt="" class="logo"/>
	<div class="trademark">&#174;</div>
</div>

<style>
	.logomark {
		width: fit-content;
		height: fit-content;
		position: relative;
	}
	.logo {
		width: 60px;
		height: auto;
	}
	.trademark {
		font-size: 0.8em;
		position: absolute;
		bottom: 0;
		right: 0;
	}
</style>
